@font-face {
    font-family: 'RetroFont';
    src: url('../fonts/EduVICWANTBeginner-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 25px;
    text-align: center;
    font-family: "RetroFont", sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 15px grey, 0 0 5px darkgray; 
    background-color: rgb(58, 61, 60);
    letter-spacing: 6px;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
}
